body {
	size: 960px;
}

header{
	font-weight: bold;
	font-family: sans-serif;
	position: relative;
	height: 80px;
}

.section {
	size: 940px ;
}

.container {
	width: 60%;
	margin: auto;
	height: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
	color: gray;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}

h3 {
	font-size: 20px;
	color: gray;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 15px;
}

h4 {
	font-size: 25px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	background-color: lightgray;
	text-align: center;
	padding: 10px;
	width: 100px;
	margin-left: 15px;
}

p {
	font-size:14px;
	color: black;
	font-family: sans-serif;
	margin-right: 10px;
	text-align: justify;
}

footer{
	position: fixed;
	width: 100%;
	background-color: white;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	color: gray;
	margin-bottom: 0;
}

img {
	float:left;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

.card {
	float: left;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}


.ninput{
	color: white;
	background-color: white;
	border-width: thin;
	border-style: solid;
	height: 30px;
	width: 95%;
	margin:auto;
	border-color: lightgray;
	margin-top: 5px;
	margin-bottom: 5px;
}

.einput{
	color: white;
	background-color: white;
	border-width: thin;
	border-style: solid;
	height: 30px;
	width: 95%;
	margin:auto;
	border-color: lightgray;
	margin-top: 5px;
	margin-bottom: 5px;
}

.minput{
	color: white;
	background-color: white;
	border-width: thin;
	border-style: solid;
	height: 100px;
	width: 95%;
	margin:auto;
	border-color: lightgray;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ninput:hover{
	color: lightgray;
}

.einput:hover{
	color: lightgray;
}

.minput:hover{
	color: lightgray;
}